[
  { "idx": 0, "hid": "uuid-example", "url": "https://cdn3.mage.space/temp/30d/creations/USER/image/hash.jpg" },
  { "idx": 1, "hid": "uuid-example", "url": "https://cdn3.mage.space/temp/30d/creations/USER/image/hash.jpg" }
]
